export const TG_BOT_TOKEN = 'tg_bot_api_key_goes_here';

export const CHATGPT_TOKEN = 'chatgpt_api_key_goes_here';

export const CLAUDE_TOKEN = 'claude_api_key_goes_here'

export const INIT_USERS = [
  {
    tgId: 123456789,
    tgUsername: 'Nickname',
    tgFirstname: 'First Name',
    tgLastname: 'Last Name',
    selectedModel: 'gpt-4o-mini',
    isActivated: 1,
    isAdmin: 1,
  },
];

